body {
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.fridge-wrapper {
    background-color: #f3f3f3;
    width: fit-content;
    margin: 0 auto ;
    max-width: 1100px;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #cfcfcf;
}

h2 { margin-bottom: 40px; font-weight: bold; }


/* Сетка Flexbox */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 20px;
    margin-bottom: 40px;
    width: 100%;
}

/* Карточка продукта */
.product-card {
    width: 170px;
    height: 220px;
    border: 2px solid #ddd;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #fff;
}
.image-wrapper {
    width: 150px;  /* Жестко задаем ширину области под фото */
    height: 150px; /* Жестко задаем высоту области под фото */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.name {
    font-weight: bold;
    font-size: 14px;
    margin-top: auto; /* Прижимает название к низу, если картинка маленькая */
}

.footer-note {
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}
hr {
    border: 0;
    border-top: 2px solid #a5a5a5;
    margin: 20px 0 30px 0;
}

/* Кнопка назад */
.bottom-nav { margin-top: 50px; }
.btn-back {
    display: inline-block;
    padding: 10px 25px;
    background-color: #c4aec9;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}