body {
    /* Фоновое изображение (природа/текстура) */
    background: url('fon.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
}

.glass-form { 
    border: 1px solid rgba(0, 0, 0, 0.342);
    color: white;
    padding: 40px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0px 15px 5px rgba(0,0,0,1.2);
}

.form-label {
    font-weight: 500;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.form-control, .form-select {
    border-radius: 0; /* Квадратные поля как на макете */
    border: none;
    padding: 8px 12px;
    margin-bottom: 10px;
}

/* Убираем синюю обводку Bootstrap */
.form-control:focus, .form-select:focus {
    box-shadow: none;
    outline: 2px solid rgba(255,255,255,0.5);
}

.divider {
    border-top: 1px solid rgba(255,255,255,0.3);
    margin: 20px 0;
}

.btn-submit {
    background: transparent;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px;
    border-radius: 0;
    transition: all 0.3s;
}

.btn-submit:hover {
    background: white;
    color: black;
}

::placeholder {
    color: #ccc !important;
    font-size: 0.9rem;
}