body {
    background-color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}
.main-text {
    width: 100%;
    /* Создаем градиент: от черного сверху до почти белого снизу */
    background: linear-gradient(to bottom, #000 20%, #ccc 80%, #eee 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: justify;
    line-height: 1.6;
}

.paper-sheet {
    background-color: #f3f3f3;
    max-width: 800px;
    padding: 50px;
    border: 1px solid #ddd;
    text-align: justify; /* Ровный край текста */
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

/* Стили для цитат под заголовком */
.quote-section {
    text-align: center;
    margin-bottom: 20px;
}

.italic-text {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 5px;
}

.small-text {
    font-size: 14px;
    color: #555;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0 30px 0;
}

/* Буквица (первая буква) */
.first-letter {
    font-weight: bold;
    font-size: 20px;
    float: left; /* Чтобы текст обтекал букву */
    line-height: 1;
}


/* Кнопка навигации (без теней) */
.bottom-nav {
    margin-top: 60px;
    text-align: center;
}

.btn-back {
    display: inline-block;
    padding: 12px 30px;
    background-color: #c4aec9;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
